<div class="p-5">
  <div class="text-xl">Responsibilities</div>
  <div [formGroup]="resonsibilityFormGroup">
    <ng-container formArrayName="responsibilities">
      <div
        *ngFor="let res of resonsibilityFormArray.controls; let index = index"
      >
        <div class="flex gap-2 items-center w-full">
          <mat-form-field class="w-full" appearance="fill">
            <input matInput [formControlName]="index" />
            <mat-error></mat-error>
          </mat-form-field>
          <div>
            <div (click)="removeField(index)">
              <i
                class="fa-solid fa-trash-can cursor-pointer"
                *ngIf="index > 0"
              ></i>
            </div>
          </div>
          <div
            *ngIf="index === resonsibilityFormArray.controls.length - 1"
            (click)="addResponsibility()"
          >
            <i class="fa-solid fa-plus cursor-pointer"></i>
          </div>
        </div>
      </div>
    </ng-container>

    <button
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 border border-blue-700 rounded"
      (click)="closeDialog()"
    >
      Save
    </button>
  </div>
</div>
