<div class="text-xl mb-2 flex justify-between">
  <div class="flex gap-2">
    {{ title }} {{ index + 1 }}
    <div (click)="toggleTitle()" *ngIf="isOpen; else close">
      <i class="fa-solid fa-chevron-down cursor-pointer"></i>
    </div>
    <ng-template #close>
      <div (click)="toggleTitle()">
        <i class="fa-solid fa-chevron-right cursor-pointer"></i>
      </div>
    </ng-template>
  </div>
  <div class="flex gap-2 cursor-pointer">
    <ng-container *ngFor="let action of actionButtons">
      <ng-container *ngIf="action.isShow">
        <div (click)="onAction(action)">
          <i [class]="action.icon"></i>
        </div>
      </ng-container>
    </ng-container>
  </div>
</div>
