<div class="grid gap-2">
  <pk-admin-title
    [title]="'Education'"
    [isShowForm]="isShowForm"
    [addFunc]="onAddEducation.bind(this)"
  ></pk-admin-title>

  <div *ngIf="isShowForm">
    <div [formGroup]="educationForm">
      <div class="grid gap-2">
        <mat-form-field appearance="fill">
          <mat-label>Title</mat-label>
          <input matInput formControlName="title" />
          <mat-error></mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Description</mat-label>
          <input matInput formControlName="desc" />
          <mat-error></mat-error>
        </mat-form-field>

        <div class="grid gap-2 grid-cols-2">
          <mat-form-field appearance="fill">
            <mat-label>Date</mat-label>
            <input matInput formControlName="date" />
            <mat-error></mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Order</mat-label>
            <input matInput formControlName="order" />
            <mat-error></mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>
    <pk-admin-save-btn
      [isButtonDisabled]="isButtonDisabled"
      [saveFunc]="saveEducation.bind(this)"
    ></pk-admin-save-btn>
  </div>

  <div class="grid gap-2" *ngIf="education$ | async as educations">
    <ng-container *ngFor="let education of educations">
      <mat-card class="p-4">
        <pk-admin-action-btn
          [adminActionBtns]="{
            edit: this.onEditEducation.bind(this, education),
            delete: this.deleteEducation.bind(this, education)
          }"
        ></pk-admin-action-btn>

        <div class="grid gap-2 grid-cols-1">
          <div>
            Title : {{ education.title }}
            <span class="text-slate-500 text-sm"> {{ education.date }} </span>
          </div>

          <div>Desc : {{ education.desc }}</div>

          <div>Order : {{ education.order }}</div>
        </div>
      </mat-card>
    </ng-container>
    <input
      #educationLengthEle
      type="hidden"
      [value]="educations?.length || 0"
    />
  </div>
</div>
