<div class="grid gap-2">
  <pk-admin-title
    [title]="'Experiencs'"
    [isShowForm]="isShowForm"
    [addFunc]="onAddExperience.bind(this)"
  ></pk-admin-title>

  <div *ngIf="isShowForm">
    <div [formGroup]="experienceForm">
      <div class="grid">
        <mat-form-field appearance="fill">
          <mat-label>Position</mat-label>
          <input matInput formControlName="position" />
          <mat-error></mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Company Name</mat-label>
          <input matInput formControlName="companyName" />
          <mat-error></mat-error>
        </mat-form-field>

        <div class="grid grid-cols-2 gap-2">
          <mat-form-field appearance="fill">
            <mat-label>Start Date</mat-label>
            <input matInput formControlName="startDate" />
            <mat-error></mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>End Date</mat-label>
            <input matInput formControlName="endDate" />
            <mat-error></mat-error>
          </mat-form-field>
        </div>
        <div class="grid grid-cols-4 gap-2">
          <mat-form-field appearance="fill">
            <mat-label>Duration(Year)</mat-label>
            <input matInput formControlName="durationYear" />
            <mat-error></mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Duration(Month)</mat-label>
            <input matInput formControlName="durationMonth" />
            <mat-error></mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Country</mat-label>
            <input matInput formControlName="country" />
            <mat-error></mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Order</mat-label>
            <input number matInput formControlName="order" />
            <mat-error></mat-error>
          </mat-form-field>
        </div>
        <div formArrayName="responsibilities">
          <mat-label>Responsibilities</mat-label>
          <div *ngFor="let res of resFormArray.controls; let index = index">
            <div class="grid" [formGroupName]="index">
              <mat-form-field appearance="fill">
                <input matInput formControlName="text" />
                <button
                  (click)="addResponsibility()"
                  *ngIf="index === resFormArray.controls?.length - 1"
                  class="p-2"
                  matSuffix
                  mat-icon-button
                  aria-label="Clear"
                >
                  <img
                    src="assets/images/add.svg"
                    alt="Add Icon"
                    class="w-6 h-6 cursor-pointer"
                  />
                </button>

                <button
                  (click)="removeResponsibility(index)"
                  *ngIf="index > 0"
                  class="p-2"
                  matSuffix
                  mat-icon-button
                  aria-label="Clear"
                >
                  <img
                    src="assets/images/trash.svg"
                    alt="Delete Icon"
                    class="w-6 h-6 cursor-pointer"
                  />
                </button>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </div>
    <pk-admin-save-btn
      [isButtonDisabled]="isButtonDisabled"
      [saveFunc]="saveExperience.bind(this)"
    ></pk-admin-save-btn>
  </div>

  <div class="grid gap-2" *ngIf="experiences$ | async as experiences">
    <ng-container *ngFor="let experience of experiences">
      <mat-expansion-panel>
        <mat-expansion-panel-header [expandedHeight]="'150px'">
          <pk-admin-action-btn
            [adminActionBtns]="{
              edit: this.onEditExperience.bind(this, experience),
              delete: this.deleteExperience.bind(this, experience)
            }"
          ></pk-admin-action-btn>
          <mat-panel-title>
            <div class="grid gap-2">
              <div class="text-2xl">
                {{ experience.position }}
              </div>
              <div class="text-lg">
                {{ experience.companyName }} {{ experience.country }}
                <span class="text-slate-400 text-sm italic">
                  {{ experience.startDate }} - {{ experience.endDate }}

                  <span
                    *ngIf="experience.durationMonth + experience.durationYear"
                    >(
                    <span *ngIf="experience.durationYear">
                      {{ experience.durationYear }} YEARS</span
                    >
                    <span *ngIf="experience.durationMonth">
                      {{ experience.durationMonth }} MONTHS</span
                    >
                    )
                  </span>
                </span>
              </div>
            </div>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ul
          class="responsibility-list"
          cdkDropList
          cdkDropListOrientation="vertical"
          #skillTypesList="cdkDropList"
          (cdkDropListDropped)="drop($event, experience)"
        >
          <li
            cdkDrag
            class="h-unset cursor-pointer"
            *ngFor="let res of experience.responsibilities; let i = index"
          >
            <div class="text-sm mb-1">{{ res.text }}</div>
          </li>
        </ul>
      </mat-expansion-panel>
    </ng-container>
    <input
      #experienceLengthEle
      type="hidden"
      [value]="experiences?.length || 0"
    />
  </div>
</div>
