<div>
  <pk-landing-title class="hidden md:block" [title]="title"></pk-landing-title>
  <mat-card>
    <section class="p-5 grid gap-4 text-lg">
      <h1 class="font-extrabold">
        A
        <span class="text-rose-700">seasoned full-stack software engineer</span
        >, I bring to the table over
        <span class="text-rose-700"
          >{{ expYears }} years of rich experience</span
        >.
      </h1>

      <p>
        <strong>
          In my career, I have successfully architected, developed, and deployed
          a myriad of projects from conception to completion,
        </strong>
        <span class="text-slate-500">
          meticulously handling both back-end and front-end aspects.
        </span>
      </p>

      <p class="text-slate-500">
        My proficiency extends to a diverse toolkit that includes
        <span class="text-black">
          JavaScript, TypeScript, Node.js, Angular, Vue, Vuex, React, Next.js,
          Kubernetes, Docker,
        </span>
        and various other associated frameworks and libraries.
      </p>

      <p class="text-slate-500">
        I am adept at contributing comprehensively to your project, ensuring:
      </p>

      <div class="pl-2 text-slate-500">
        <ul>
          <li *ngFor="let res of responsibilities">&#x2022; {{ res }}</li>
        </ul>
      </div>
    </section>

    <div class="p-5 text-slate-500">
      <div class="mb-2" *ngFor="let skillType of skillTypes">
        {{ skillType.title }}:
        <div class="flex gap-2 flex-wrap">
          <div *ngFor="let skill of skillTypesMap[skillType.type]">
            <div
              class="flex gap-2 items-center border border-rose-800 px-2 py-1 font-thin text-sm"
            >
              <img class="h-5" [src]="skill.logo" alt="" />
              <div>{{ skill.skill }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-card>
</div>
