<div>
  <pk-landing-title class="hidden md:block" [title]="title"></pk-landing-title>
  <mat-card>
    <div class="p-5 grid gap-4 text-lg">
      <div class="font-extrabold">
        A <span class="text-rose-700">full-stack software engineer</span> with
        over <span class="text-rose-700">7+ years of experience.</span>
      </div>

      <div>
        <span class="font-extrabold">
          I have maintained, developed and launched multiple projects from
          scratch,
        </span>
        <span class="text-slate-500">
          carrying the development of its' back-end and front-end codebases.
        </span>
      </div>
      <div class="text-slate-500">
        My current toolset includes
        <span class="text-black">
          JavaScript & TypeScript (Node.js as well), Angular, Vue, Vuex,
          Kubernetes, Docker
        </span>
        and all the other various frameworks, libraries and technologies related
        to them.
      </div>
      <div class="text-slate-500">
        I can help you with all the sides of your project:
      </div>

      <div class="pl-2 text-slate-500">
        <ul>
          <li *ngFor="let res of responsibilities">&#x2022; {{ res }}</li>
        </ul>
      </div>
    </div>

    <div class="p-5 text-slate-500">
      <div class="mb-2" *ngFor="let skillType of skillTypes">
        {{ skillType.title }}:
        <div class="flex gap-2 flex-wrap">
          <div *ngFor="let skill of skillTypesMap[skillType.type]">
            <div
              class="flex gap-2 items-center border border-rose-800 px-2 py-1 font-thin text-sm"
            >
              <img class="h-5" [src]="skill.logo" alt="" />
              <div>{{ skill.skill }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-card>
</div>
