<mat-sidenav-container class="dashboard-container">
  <mat-sidenav mode="side" opened>
    <div class="text-xl text-center p-3 bg-blue-500 text-white">
      PK Dashboard
    </div>
    <mat-list>
      <ng-container *ngFor="let sideNavItems of dashboardSideNavItems">
        <mat-list-item>
          <div
            class="flex justify-between"
            [routerLinkActive]="'active-link font-bold'"
            [routerLink]="[sideNavItems.route]"
          >
            {{ sideNavItems.title }}
          </div>
        </mat-list-item>
      </ng-container>
      <mat-list-item (click)="logout()">Logout</mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="p-5 w-3/4">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
