<ng-container *ngIf="isPortfolioPage; else cvPage">
  <div class="md:hidden">
    <div class="grid grid-cols-2 gap-2 p-2">
      <ng-container *ngFor="let cvType of cv">
        <button
          (click)="downloadCV(cvType.type)"
          class="bg-rose-800 hover:bg-rose-900 text-white font-bold py-2 px-4 my-10 border-rose-700 rounded"
        >
          <i class="fa-solid fa-download"></i> {{ cvType.title }}
        </button>
      </ng-container>
    </div>
  </div>
</ng-container>

<ng-template #cvPage>
  <div class="p-4 relative">
    <mat-tab-group [color]="'warn'">
      <mat-tab *ngFor="let cvType of cv">
        <div class="absolute right-1 top-1">
          <div title="Download CV" (click)="downloadCV(cvType.type)">
            <i
              class="fa-solid cursor-pointer fa-download fa-2xl text-rose-800"
            ></i>
          </div>
        </div>
        <ng-template mat-tab-label>
          {{ cvType.title }}
        </ng-template>
        <ng-container *ngFor="let img of cvType.images">
          <img [src]="img" [alt]="cvType.title" />
        </ng-container>
      </mat-tab>
    </mat-tab-group>
  </div>
</ng-template>
